[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pm4py = "*"
editdistance = "*"
coverage = "*"
codecov = "*"
numpy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"